.homeBanner{
    min-height: 300px;
}

.homeHeader{
    font-family: Papyrus;
    font-size: 100px;
}

.homeDetail{
    font-family: Papyrus;
    font-size: 50px;
}

.cardsize{
    width: 15rem;
}

.has-search .form-control {
    padding-left: 2.8rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 20px;
    height: 20px;
    padding-left: 16px;
    padding-top: 9px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}